body {
    font-family: "Arial", Serif;
    background-color: #f4f4f4;
}
.navbar {
    background-color: #0D47A1;
    overflow: hidden;
    height: 63px;
}

.appName {
  color: white;
  font-size: 20px;
  display: inline;
  position: absolute;
}

.navbar a{
    float: left;
    display: block;
    color: #f4f4f4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f2f2f2;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.side-nav a {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #000;
    display: block;
    transition: 0.3s;
}

.side-nav .btn-close {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
  margin-top: 30%;
  text-align: center;
}

#main .start-button {
  color: green;
  text-shadow: 3px 2px 8px grey
}

#main .instruction {
  font-weight: 100;
}
